@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
    max-width: 520px;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
    position: relative;
}
.inner {
    max-width: 100%;
    width: calc(100% - 10px);
    margin: 0 auto;
}
header {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {
    height: 25px;
    /* 로고 위치 잡을때는 이미지크기도보고,
    h1의 크기도 본 후 간격잡아줌 */
}
header .inner nav {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    /* display: none; */
}
header .inner nav .menu_close {
    position: absolute;
    top: 20;
    right: 20px;
}
header .inner nav > ul {
    padding: 0 20px;
    margin-top: 130px;
    font-size: 18px;
}
header .inner nav > ul .depth01 {
    border-bottom: 1px solid #838383;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
header .inner nav > ul .depth01 li {
    font-size: 16px;
    margin-top: 15px;
    color: #838383;
}
.main_visual {
    height: 750px;
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 110px;
    left: 0;
    
}
.main_visual div h2 {
font-size: 35px;
font-weight: 700;
line-height: 1.3;
}

.main_visual div a {
    width: 170px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin: 30px auto;
}

.best .inner h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0 20px 
}
.best .inner .best_menu {
    display: flex;
}
.best .inner .best_menu li {
    margin: 0 15px 15px 0;
    font-size: 14px;
}
.best .inner .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.best .inner .list .item {
    width: calc(100% / 2 - 10px);
    
}
.best .inner .list .item figure {
    width: 100%;
    height: 200px;
}
.best .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best .inner .list .item .text h4 {
    font-size: 16px;
    margin: 10px 0 20px;
}
.best .inner .list .item .text div p {
    color: #838383;
    margin-bottom: 5px;
    text-decoration: line-through;
}
.best .inner .list .item .text div ul {
    display: flex;
    justify-content:space-between
}
.best .inner .list .item .text div ul li {
    color: #333;
    display: inline-block;

    
}
.best .inner .list .item .text div ul li:last-child {
    color: #ff0000;
}
.best .inner a {
    border: 1px solid #333;
    font-size: 14px;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-top: 30px;
}
.event .inner .title {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 22px;
    align-items: center;
}
.event .inner .title h3 {
    font-size: 30px;
    font-weight: 700;
}
.event .inner .title a {
    display: block;
    font-size: 14px;
}
.event .inner .title a img{
    width: 8px;
}
.event .inner .item a div h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 15px;
}
.event .inner .item a div p {
    margin-bottom: 30px;
}
.event .inner .item a div span {
    color: #838383;
    font-size: 14px;
    margin-bottom: 60px;
    display: block;
}
footer {
    background-color: #B80008;
    height: 72px;
    color: #fff;
    font-size: 14px;
}
footer p {
    text-align: center;
    line-height: 72px;

}