@charset "utf-8";
@import url('common.css');
/* css파일을 css에서 연결하는 방법 */

/* main_visual */
.main_visual {
    height: 100vh;
}
.main_visual .swiper-slide {}
.main_visual .swiper-slide  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 내가 원하는 공간에 이미지를 가득 채울때만
    object-fit: cover; 
    아이콘에는  object-fit: cover; 사용 X*/
}
.main_visual .swiper-slide div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #ffffff;
    line-height: 1.3;
   
}
.main_visual .swiper-slide img div h2 {}

.main_visual .swiper_control {
    position: absolute;
    left: 50%;
    bottom: 2px;
    z-index: 11;
    margin-left: 50px;
}
.main_visual .swiper_control div.swiper-play {
    display: none;
}
.main_visual .swiper_control div img {
    width: 20px;
}

/* .business */
.business {
    padding: 100px 0;
}
.business .title h3 {
    font-size: 30px;
    color: #0e2071;
}
.business .title span {
    display: block; /* 뒤 글씨떨어트림 */
    color: #838383;
}